body{
color:chartreuse:
background-color:blue;
margin-boton: 100px;
}

header{
border-bottom: solid 2px blueviolet;
margin: 20px;
font-size: 32px;
color: black:
}

section{
padding-bottom: 80px;
padding-top: 80px;
background: gray;
display: flex;
justify-content: center;
}
